<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinários Cadastrados</title>
    <link rel="stylesheet" href="/css/style-global.css">

</head>
<body>
<div class="container">
    <div class="top-bar">
        <a href="/" class="btn-voltar" title="Voltar para Home">
            🏠
        </a>
        <h1>🐶 Veterinarios Cadastrados</h1>
    </div>
    <a href="/veterinarios/novo" class="btn-acao">➕ Novo Veterinário</a>


    <section>
        <ul class="lista-veterinarios">
            <li th:each="vet : ${veterinarios}" class="card-vet">
                <strong th:text="${vet.nome}">Nome do Veterinário</strong>
                <p><span th:text="'CPF: ' + ${vet.cpf}">CPF</span></p>
                <p><span th:text="'CRMV: ' + ${vet.crmv}">CRMV</span></p>
            </li>
        </ul>
    </section>
</div>
</body>
</html>
