<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Novo Tutor</title>
    <link rel="stylesheet" href="/css/style-tutores-novo.css"/>
</head>
<body>
<div class="my-container">
    <h1>🐾 Cadastrar Novo Tutor</h1>

    <form th:action="@{/tutores}" th:object="${tutor}" method="post" class="form-tutor">
        <label>
            Nome:
            <input type="text" th:field="*{nome}" placeholder="Digite o nome" />
        </label>
        <label>
            CPF:
            <input type="text" th:field="*{cpf}" placeholder="000.000.000-00" />
        </label>
        <label>
            Telefone:
            <input type="text" th:field="*{telefone}" placeholder="(00) 00000-0000" />
        </label>
        <label>
            Endereço:
            <input type="text" th:field="*{endereco}" placeholder="Rua, número, bairro" />
        </label>

        <div class="botoes-form">
            <button type="submit">Salvar</button>
            <a href="/tutores" class="btn-cancelar">Cancelar</a>
        </div>


    </form>
</div>
</body>
</html>
