<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tutores Cadastrados</title>
    <link rel="stylesheet" href="/css/style-global.css">
    <link rel="stylesheet" href="/css/style-tutores.css">
</head>
<body>
<div class="my-container">

    <!-- Botão voltar para home -->
    <a href="/" class="btn-home" title="Voltar para a Home">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
            <rect y="4" width="24" height="2" fill="currentColor"/>
            <rect y="11" width="24" height="2" fill="currentColor"/>
            <rect y="18" width="24" height="2" fill="currentColor"/>
        </svg>
    </a>

    <h1>🐾 Tutores Cadastrados</h1>

    <a class="novo-tutor" th:href="@{/tutores/novo}">➕ Novo Tutor</a>

    <ul class="tutores">
        <li th:each="tutor : ${tutores}">
            <strong th:text="${tutor.nome}">Nome</strong><br>
            <span th:text="'CPF: ' + ${tutor.cpf}">CPF</span><br>
            <span th:text="'Telefone: ' + ${tutor.telefone}">telefone</span>
            <span th:text="' - Endereço: ' + ${tutor.endereco}">endereco</span>
        </li>
    </ul>
</div>

</body>
</html>
