<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PetCare - Página Inicial</title>
    <link rel="stylesheet" href="/css/style-home.css"/>
</head>
<body>
    <div class="home-container">
        <h1>🐾 PetCare - Gestão</h1>
        <nav>
            <ul class="menu-opcoes">
                <li><a th:href="@{/consultas}" data-icon="📅">Consultas</a></li>
                <li><a th:href="@{/veterinarios}" data-icon="👩‍⚕️">Veterinários</a></li>
                <li><a th:href="@{/tutores}" data-icon="👨‍👩‍👧">Tutores</a></li>
                <li><a th:href="@{/pets}" data-icon="🐶">Pets</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
