<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tutores Cadastrados</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="my-container">
    <h1>🐾 Tutores Cadastrados</h1>

    <a class="novo-tutor" th:href="@{/tutores/novo}">➕ Novo Tutor</a>

    <ul class="tutores">
        <li th:each="tutor : ${tutores}">
            <strong th:text="${tutor.nome}">Nome</strong><br>
            <span th:text="'CPF: ' + ${tutor.cpf}">CPF</span>
        </li>
    </ul>
</div>

</body>

</html>
